body {
    background-image: url(/static/BlueRidgeParkwayFallFoliage.jpeg);
    background-size: cover;
}


.container{
    margin-top: 4%;
    margin-bottom: 2%;
}
.table-hover{
    background-color: rgb(50, 165, 77);
}

.btn{
    background-color: rgb(50, 165, 77);
    border-color: rgb(50, 165, 77);
    font-style: oblique;
    margin: 1%;
}

.hidden-col {
     display: none;
}

.valueSelectedFilter {
    display: none;
}
.btn:hover {
    background-color: rgba(94, 231, 201, 0.607);
    border-color: rgba(94, 231, 201, 0.607);
}  
